html{
    height: 100%;
}
body{
    height: 100%;
    background-color: rgb(250,250,250);
    top: 0;
    left: 0;
}

.container{
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:transparent;
    z-index: 100;
}